.plot-link {
    text-decoration: none;
    display: block;
}

.event-link {
    text-decoration: none;

    .image-container {
        text-align: center;
        background-color: lightgray;
        overflow-y: hidden;
        max-height: 20vh;
    }
    
    img {
        max-width: 100%;
    }
}