<app-toolbar></app-toolbar>
<div class="container">
    <ng-container *ngIf="!(isLoading$ | async) else loading">
        <h1>Hi, Ryan</h1>
        <h3>Your Plots</h3>
        <a [routerLink]="[plot.id]" class="plot-link" *ngFor="let plot of plots$ | async">
            <mat-card>
                <mat-card-title>
                    <div class="d-flex">
                        <span>{{plot.street}}</span>
                        <span style="flex: 1 1 auto;"></span>
                        <span>$0.00</span>
                    </div>
                </mat-card-title>
            </mat-card>
        </a>
    </ng-container>
</div>

<ng-template #loading>
    Loading...
</ng-template>