<mat-toolbar color="primary">
    <a [routerLink]="['/admin']" class="brand me-3">
        <h1>VanderbiltHOA <i style="font-size: smaller;">Admin</i></h1>
    </a>
    <button mat-button [routerLink]="['/admin/transactions']">
        Transactions
    </button>
    <button mat-button [routerLink]="['/admin/plots']">
        Plots
    </button>
    <button mat-button [routerLink]="['/admin/users']">
        Users
    </button> 
    <button mat-button [routerLink]="['/admin/events']">
        Events
    </button>

    <span class="toolbar-spacer"></span>
    <button mat-stroked-button *ngIf="(isAuthenticated$ | async)" class="my-2" (click)="logout()">Log Out</button>
</mat-toolbar>
<div class="container mt-4">
    <router-outlet></router-outlet>
</div>