@use '@angular/material' as mat;

.toolbar-spacer {
    flex: 1 1 auto;
}

a {
    text-decoration: none;
}

.brand {
    text-decoration: none;
    color: white;
    padding-bottom: 0.2em;

    i {
        /* TODO use Angular Material themeing instead of bootstrap text-secondary */
        color: #26be72;
    }
}
