<div class="login-container mt-4">
    <mat-card class="mat-elevation-z8">
        <mat-card-title><h1>Welcome to Vanderbilt HOA</h1></mat-card-title>
        <p>Log in or create an account to access the Portal.</p>
        <div class="d-flex justify-content-center">
            <button mat-raised-button color="primary" class="me-2" (click)="login()">Log In</button>
            <button mat-raised-button color="accent" (click)="login()">Create Account</button>
        </div>
    </mat-card>
</div>