<div class="container">
    <h1>Hi, {{(user$ | async)?.firstName}}</h1>
    <div class="d-flex mt-4"> 
        <h1>Plots</h1>
        <span class="flex-spacer"></span>    
        <button color="primary" (click)="this.isPlotCardVisible = !this.isPlotCardVisible;" mat-fab>
            <mat-icon *ngIf="!this.isPlotCardVisible" fontIcon="add_circle"></mat-icon>
            <mat-icon *ngIf="this.isPlotCardVisible"  fontIcon="cancel_circle"></mat-icon>
        </button>
    </div>
    <br>
    <mat-card *ngIf="this.isPlotCardVisible">
        <mat-card-title>Add a Plot</mat-card-title>
        <mat-card-subtitle>Enter the address, payment plan, vacancy status, and signed owners of the property (if applicable).</mat-card-subtitle>
        <hr>
        <form [formGroup]="form">
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Street</mat-label>
                        <input formControlName="street" matInput placeholder="Ex. 123 Test St">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>City</mat-label>
                        <input formControlName="city" matInput placeholder="Chicago">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>State</mat-label>
                        <input formControlName="state" matInput placeholder="Illinois">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Zip Code</mat-label>
                        <input formControlName="zip" matInput placeholder="60066">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                            <mat-option value="Occupied">Occupied</mat-option>
                            <mat-option value="Vacant">Vacant</mat-option>
                            <mat-option value="ForSale">For Sale</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Payment Plan</mat-label>
                        <mat-select formControlName="paymentPlan">
                            <mat-option value="Monthly">Monthly</mat-option>
                            <mat-option value="Yearly">Yearly</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Owners</mat-label>
                        <mat-chip-list #chipList aria-label="Owner selection" formControlName="homeowners">
                        <mat-chip
                            *ngFor="let owner of owners.value"
                            (removed)="remove(owner)">
                            {{owner}}
                            <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input
                            placeholder="New owner..."
                            #ownerInput
                            [formControl]="ownerCtrl"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let owner of filteredOwners | async" [value]="owner">
                            {{owner}}
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
        </form>  
        <mat-card-actions>
            <button color="primary" mat-raised-button (click)="submitNewPlot()">SAVE</button>
            <button color="warn" mat-stroked-button (click)="this.isPlotCardVisible = false">CANCEL</button>
        </mat-card-actions>
    </mat-card>
    
    <br>
    
    <table mat-table [dataSource]="(plots$ | async)!" class="mat-elevation-z8">

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let plot"> {{plot.address}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let plot"> {{plot.status}} </td>
        </ng-container>

        <ng-container matColumnDef="owners">
            <th mat-header-cell *matHeaderCellDef> Owners </th>
            <td mat-cell *matCellDef="let plot"> {{plot.owners}} </td> 
            <!-- may need to stringify above list ^ non-normalized view.. ik -->
        </ng-container>

        <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef> Account Balance </th>
            <td mat-cell *matCellDef="let plot"> {{plot.balance | currency}} </td>
            <!-- calculated value -->
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="plotsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: plotsColumns;"></tr>
    </table>
</div>