<app-toolbar></app-toolbar>
<div class="container">
    <h1 class="mb-3">Hi, {{ (user$ | async)!.firstName }}</h1>
    <ng-container *ngIf="!(isLoading$ | async) else loading">
        <mat-card *ngIf="plot$ | async as plot" class="mat-elevation-z8">
            <form [formGroup]="form" (submit)="onSubmit()">
                <mat-card-title><h2>Make a Payment</h2></mat-card-title>
                <mat-card-subtitle>{{plot.street}} {{plot.city}}, {{plot.state}} {{plot.zip}}</mat-card-subtitle>
        
                <div class="col-sm-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Payment Amount</mat-label>
                        <select matNativeControl required formControlName="amountType">
                            <option [value]="amountType.CurrentBalance">Current Balance ( {{ getAdjustedAccountBalance(plot.accountBalance) | currency }} )</option>
                            <option [value]="amountType.Other">Other Amount</option>
                        </select>
                    </mat-form-field>
                </div>

                <div class="col-sm-3" *ngIf="isCustomAmount">
                    <mat-form-field appearance="fill">
                        <mat-label>Custom Amount</mat-label>
                        <input matInput prefix="$ " mask="separator.2" thousandSeparator="," formControlName="amount" />
                    </mat-form-field>
                </div>

                <app-credit-card-input formControlName="creditCard"></app-credit-card-input>

                <button mat-raised-button color="primary" type="submit" class="me-2" [disabled]="isSubmitting">Submit</button>
                <button mat-stroked-button color="warn" (click)="onCancel()">Cancel</button>
                <app-loading *ngIf="isSubmitting"></app-loading>
            </form>
        </mat-card>
    </ng-container>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>